<!DOCTYPE html>
<html leng="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = "device-width" initial-scale="1.0">
    <title>Doubling a Number!</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>

<body>
    <h1>Doubling a Number!</h1>
    <p>{{ doubled_num }} </p>

    <form action="/double"> 
        <input type = "text" name ="num_to_double", id="num_to_double" placeholder = "Double a Number"/>
        <button type="submit">Submit</button>
    </form>
</body>